<div class="row">
  <div class="col-sm-12">
    <h1>Top 25 <small>- Unique track count by artist</small></h1>
    <%= bar_chart charts_unique_tracks_by_artist_path, height: '530px' %>
  </div>
</div>
